#app {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	position: relative;
}

#chat {
	position: absolute;
	width: calc(100% - 6rem);
	height: calc(100% - 6rem);
	margin: 3rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	#messages {
		flex-grow: 1;
		overflow: auto;
		background-image: url("../images/chatbg.png");
		padding: 1rem;
  		background-repeat: repeat-x;

		ul li {
			background-color: #fff;
			width: fit-content;
			border-radius: 0.5rem;
			padding: 1rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			label {
				font-weight: 600;
			}

			small {
				opacity: 0.4;
			}

			&.self {
				background-color: #dafdd5;
				margin-left: auto;
			}
		}
	}

	#input {
		margin-top: auto;

		form {
			display: flex;

			input {
				margin: 0;
			}
		}
	}
}
